.checkout-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0;
}

.checkout-form input {
  height: 2rem;
  border: 0.1px solid black;
  width: 100%;
}

.invalid input {
  border: 1px solid #b40e0e;
  background-color: #fddddd;
}

.invalid input:focus {
  border-color: #ff8800;
  background-color: #fbe8d2;
}

.error-text {
    color: #b40e0e;
  }

.checkout-form button[type="submit"] {
  height: 3rem;
  border: 1px solid #8a2b06;
  background-color: #8a2b06;
  color: white;
  font-size: 1.1em;
  margin-bottom: 0.4rem;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.checkout-form button[type="submit"]:hover {
  background-color: #641e03;
  border-color: #641e03;
}

.close-button {
  background-color: orange;
  width: 100%;
  border: 1px solid #8a2b06;
  background-color: #8a2b06;
  color: white;
  font-size: 1.1em;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.close-button:hover {
  background-color: #641e03;
  border-color: #641e03;
}
